@import "node_modules/sweetalert2/dist/sweetalert2";
@import "node_modules/bulma/sass/utilities/initial-variables";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,600");

$crimson: #73000A;
$crimson-invert: #fff;

$red: #ff0000;

$primary: $crimson;
$primary-invert: $crimson-invert;
$light: #fafafa;

@import "node_modules/bulma/bulma";
@import "utilities/spacing";

body {
  padding: 0;
  margin: 0;
  background: #fafafa;
}

.flex {
  display: flex;
  justify-content: space-between;
}

#flash-message {
  background: #008000;
  color: #b3ffb3;
  font-weight: bold;
  position: absolute;
  z-index: 10;
  bottom: 50px;
  right: 0px;
  animation: flash-message 5s forwards;

}

@keyframes flash-message {
  from {
    right: 0px;
  }
  to {
    right: 200px;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.page-content,
.tile-container {
  background: #fafafa;
}

.page-content {
  padding-top: 0px;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

/*
|--------------------------------------------------------------------------
| navbar
|--------------------------------------------------------------------------
*/

#navbar {
  padding-left: 20px;
  padding-right: 20px
}

.navbar-dropdown {
  margin-top: -8px;
}

.navbar-item {
  font-weight: 500;
  font-size: 16px;
}

// #level-navbar {
// 	padding: 0 20px;
// 	margin: 0;
// }

// #level-navbar .level-item {
// 	font-weight: 500;
// 	font-size: 16px;
// 	padding: 12px 0;
// 	margin: 0 20px;
// }

#logo-container {
  height: 50px;
  width: 233px;
  background: url('/images/logo_on_white.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
}

#neese-jones-container {
  width: 640px;
  height: 360px;
  background: url('/images/sponsors/2017/NeeseJones.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
  border: solid thin green;
}

/*
|--------------------------------------------------------------------------
| page header
|--------------------------------------------------------------------------
*/

.hero {
  background: #73000A;
  margin-bottom: 25px;
}

.hero-body {
  display: flex;
  justify-content: space-between;
}

.hero-button {
  margin: 10px 0 0 0;
}

#hero-right-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.page-title {
  font-size: 4em;
  color: #73000A;
  font-family: Raleway;
  font-weight: 200;
  margin: 40px 0 -10px 10px;
}

.user-content {
  margin-top: 30px;
}

.main-content-header {
  font-size: 3em;
  color: #73000A;
  font-family: Raleway;
  font-weight: 200;
  margin: 10px;
  padding: 0;
}

/*
|--------------------------------------------------------------------------
| menus
|--------------------------------------------------------------------------
*/

.menu-container {
  margin-top: 10px;
}

.submenu-toggle {
  display: flex;
  justify-content: space-between;
}

/*
|--------------------------------------------------------------------------
| main content
|--------------------------------------------------------------------------
*/

.announcements h2 {
  color: #444;
}

.announcements h4 {
  font-weight: 500;
  color: #73000A;
  padding: 0;
  margin: 0;
}

.announcements p {
  padding-left: 10px;
  font-weight: 400;
  color: #000;
}

.announcements h6 {
  color: #333;
  font-weight: 500;
  margin: 7px 10px;
  font-size: 14px;
}

ul.roster-list {
  list-style-type: none;
  margin: 0 0 0 0;
}

.user-box {
  margin-top: 10px;
}

.form-button {
  margin-top: 10px;
}

.dropdown-label {
  display: flex;
  align-items: center;
}

.gradiant-line {
  padding: 0;
  height: 2px;
  background: #73000A; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #73000A, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #73000A, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #73000A, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #73000A, white); /* Standard syntax */
}

.events h4 {
  color: #000;
  font-weight: 600;
  margin: 20px 0 0 5px;
}

.events h6 {
  color: #333;
  font-weight: 500;
  margin: 7px 10px;
  font-size: 14px;
}

.event-title {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.event-detail-row * {
  padding: 2px 5px;
  margin: 0;
}

.event-detail-label {
  font-weight: 500;
  color: #73000a;

}

.event-detail-output {
  font-weight: 500;
  color: #000;
}

#running-log-card {
  border: solid thin #73000A;
  background: #f5f5f5;
}

#running-log-card-title {
  display: flex;
  justify-content: space-between;
  background: white;
}

input[type="checkbox"] {
  transform: scale(1.5, 1.5);
}

.card-content {
  background: #f5f5f5;
}

.card-header {
  background: #333333;
}

.card-header-title {
  color: white;
}

.card-content .label {
  color: #73000A;
}

.table-header {
  background: #333;
}

.table-header tr:hover {
  background: #333;
}

.table-body tr:hover {
  background: #fff;
}

#delete-icon {
  color: #ffb3b3;
}

#edit-icon {
  color: #b3b3ff;
}

.footer {
  padding: 20px;
  border-top: solid thin #73000a;
}





